body{
    background-image: url("Fotos/fundopreto.jpg");
}

.titulo{
    color:cadetblue;    
}

.texto1{
    color: whitesmoke;
}

.texto2{
    color: whitesmoke;
}

.fundacao{
    color: tomato;
}
.htmlbasico{
    color: whitesmoke;
}
.htmlavançado{
    color: whitesmoke;
}
.fundamentos{
    color: whitesmoke;
}
.dio{
    color: orangered;
}
.dio2{
    color: orangered;
}
.cursodio1{
    color: whitesmoke;
}
.cursodio2{
    color: whitesmoke;
}