body {
    background-color: yellow;
}

#title
{ color: blue;
    font-size: 50px; <!-- Tamanho da letra do titulo-->
}


.titulo2
{
    color: red;
}

.titulo3 
{
    color: orange;
    
}

.artigo 
{
     background-color: cyan;  <!-- cor do conteudo -->
     padding: 0; 
     border: 3px solid #000;
     margin: 10px;
    
}