body {
    background-color: yellow;
}

#title
{ color: blue;
    font-size: 50px; <!-- Tamanho da letra do titulo-->
}


.titulo2
{
    color: red;
}

.titulo3 
{
    color: orange;
}

.artigo 
{
     background-color: cyan;
     padding: 0;
}