body {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1200px;
    margin: auto;
}

.imagem {
    margin-bottom: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    }

#title
{ color: blue;
    font-size: 50px; 
    margin: 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
}


.titulo2
{
    color: red;
}

.titulo3 
{
    color: black;
    
}

.artigo 
{
     background-color: greenyellow;  
     padding: 0; 
     border: 3px solid #000;
     margin: 10px;
     border-radius: 5px;
}

.conteudo {
 margin: 0px;
 margin-bottom: 15px;
 padding: 15px;
 text-transform: capitalize;
}

.Link1conteudo {
    text-decoration: line-through;
    color: red;
}

.lista_contatos {
    list-style-type: none;
    padding-left: 15px;
} 

.lista_contatos li a {
   
    color: blue;
    text-decoration: none;
}
.imagemTexto {
    border: 1px solid #000;
   width: 100%;
}
.duvidas {
    color:green
}
